
<ul class="menu-head-top">
    <li {if $_W['controller']=='shop'} class="active" {/if}><a href="{php echo webUrl('shop')}">系统概述 <i class="fa fa-caret-right"></i></a></li>
</ul>


{ifp 'shop.adv|shop.nav|shop.banner|shop.sort'}
<div class='menu-header'>首页</div>
<ul>
    {ifp 'shop.orderlist'}<li {if $_W['action'] == 'shop.orderlist'} class="active" {/if}><a href="{php echo webUrl('shop/orderlist')}">订单列表</a></li>{/if}  
    {ifp 'shop.lotterylist'}<li {if $_W['action'] == 'shop.lotterylist'} class="active" {/if}><a href="{php echo webUrl('shop/lotterylist')}">中奖列表</a></li>{/if}     
</ul>
{/if}

